- present @user do |presenter|


  %h4.font-alt.mb-0 Your organizations
  %hr.divider-w.mt-10.mb-20/
  #accordion.panel-group.active
    .panel.panel-default
/     .panel-heading
/       %h4.panel-title.font-alt
/         %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#support1"}
/           Support Question 1
/     #support1.panel-collapse.collapse.in
/       .panel-body
/         Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
/   / Accordion item end
/   / Accordion item start
/   .panel.panel-default
/     .panel-heading
/       %h4.panel-title.font-alt
/         %a.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#support2"}
/           Support Question 2
/     #support2.panel-collapse.collapse
/       .panel-body
/         Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
