%h4.font-alt.mb-0 Your stuff
%hr.divider-w.mt-10.mb-20/
#accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
  - %w[comments positions photos identities reviews invitations].each do |file|
    .panel.panel-default
      = render "dashboard/user/#{file}"

