/ # = favicon_link_tag "favicons/favicon.ico", rel: "icon"
/ # = favicon_link_tag "favicons/apple-touch-icon.png", :rel => "apple-touch-icon"
= favicon_link_tag "http://faviconist.com/icons/8ad1958f15f525dbc3368680989ec4ad/favicon.ico"
/ <link rel="shortcut icon" href="http://faviconist.com/icons/8ad1958f15f525dbc3368680989ec4ad/favicon.ico" />
