= meta_tags(title: "ACCHAN.AL", 
  viewport: "width=device-width, initial-scale=1.0",
  type: "website",
  author: "Fred Schoeneman", 
  description: "Internet Wine, Winery, Winemaker & Vineyard database", keywords: "wine winery vineyard winemaker vintage terroir")

