= meta_tags(title: "Bacchan.al", 
  viewport: "width=device-width, initial-scale=1.0",
  type: "website",
  author: "Fred Schoeneman", 
  description: "Internet Wine, Winery, Winemaker & Vineyard database", keywords: "wine winery vineyard winemaker vintage terroir")

<meta name="google-site-verification" content="dQAPUFCE67wH9ZcS47I9MqbVF4cXr5czpEK7jG7EFSE" />

