/ About start
%section#about.module
  .container
    .row
      .col-sm-8.col-sm-offset-2
        %h2.module-title.font-alt Welcome to Rival
        .module-subtitle.font-serif.large-text
          We’re an award winning London based digital agency, lovingly curating pixels for maximum impact. We don’t have a style — we have standards.
    / .row
    .row
      .col-sm-2.col-sm-offset-5
        .large-text.align-center
          %a.section-scroll{:href => "#features"}
            %i.fa.fa-angle-down
  / .container
/ About end