/ Alt features start
%section#alt-features.module
  .container
    .row
      .col-sm-6.col-sm-offset-3
        %h2.module-title.font-alt Alt features
        .module-subtitle.font-serif
          A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
    / .row
    .row
      .col-sm-6.col-md-3.col-lg-3
        / Alt features item start
        .alt-features-item
          .alt-features-icon
            %span.icon-strategy
          %h3.alt-features-title.font-alt Branding
          A wonderful serenity has taken possession of my entire soul like these sweet mornings.
        / Alt features item end
        / Alt features item start
        .alt-features-item
          .alt-features-icon
            %span.icon-tools-2
          %h3.alt-features-title.font-alt Development
          A wonderful serenity has taken possession of my entire soul like these sweet mornings.
        / Alt features item end
        / Alt features item start
        .alt-features-item
          .alt-features-icon
            %span.icon-target
          %h3.alt-features-title.font-alt Marketing
          A wonderful serenity has taken possession of my entire soul like these sweet mornings.
        / Alt features item end
        / Alt features item start
        .alt-features-item
          .alt-features-icon
            %span.icon-tools
          %h3.alt-features-title.font-alt Design
          A wonderful serenity has taken possession of my entire soul like these sweet mornings.
        / Alt features item end
      / .col
      / Alt features image start
      .col-md-6.col-lg-6.hidden-xs.hidden-sm
        .alt-services-image.align-center
          = image_tag "promo.png"

      / Alt features image end
      .col-sm-6.col-md-3.col-lg-3
        / Alt features item start
        .alt-features-item
          .alt-features-icon
            %span.icon-camera
          %h3.alt-features-title.font-alt Photography
          A wonderful serenity has taken possession of my entire soul like these sweet mornings.
        / Alt features item end
        / Alt features item start
        .alt-features-item
          .alt-features-icon
            %span.icon-mobile
          %h3.alt-features-title.font-alt Mobile
          A wonderful serenity has taken possession of my entire soul like these sweet mornings.
        / Alt features item end
        / Alt features item start
        .alt-features-item
          .alt-features-icon
            %span.icon-linegraph
          %h3.alt-features-title.font-alt Music
          A wonderful serenity has taken possession of my entire soul like these sweet mornings.
        / Alt features item end
        / Alt features item start
        .alt-features-item
          .alt-features-icon
            %span.icon-basket
          %h3.alt-features-title.font-alt Shop
          A wonderful serenity has taken possession of my entire soul like these sweet mornings.
        / Alt features item end
      / .col
    / .row
/ Alt features end