/ Callout start
%section.module-small.bg-dark
  .container
    .row
      .col-sm-6.col-md-8.col-lg-6.col-lg-offset-2
        .callout-text.font-alt
          %h3.callout-title Want to see your winery in here?
          Send us an email with a bit about you and it.
      .col-sm-6.col-md-4.col-lg-2
        .callout-btn-box
          = mail_to "fred@bacchan.al", "request invitation", subject: "Add me to the bacchanalia", body: "Tell us a bit about yourself -- we're super curious.", class: "btn btn-w btn-round"
    / .row
/ Callout end