%section.module-small.bg-dark
  .container
    .row
      .col-sm-6.col-sm-offset-3
        %a.section-scroll.btn.btn-border-w.btn-block.btn-round{:href => "#pricing"}  
          %h5 The pricing for the consideration
