/ Contact start
%section#contact.module
  .container
    .row
      .col-sm-6.col-sm-offset-3
        %h2.module-title.font-alt Get in touch
    / .row
    .row
      .col-sm-6.col-sm-offset-3
        %form#contact-form{:novalidate => "", :role => "form"}
          .form-group
            %label.sr-only{:for => "cname"} Name
            %input#cname.form-control{"data-validation-required-message" => "Please enter your name.", :name => "cname", :placeholder => "Name*", :required => "", :type => "text"}/
            %p.help-block.text-danger
          .form-group
            %label.sr-only{:for => "cemail"} Your Email
            %input#cemail.form-control{"data-validation-required-message" => "Please enter your email address.", :name => "cemail", :placeholder => "Your E-mail*", :required => "", :type => "email"}/
            %p.help-block.text-danger
          .form-group
            %textarea#cmessage.form-control{"data-validation-required-message" => "Please enter your message.", :name => "cmessage", :placeholder => "Message*", :required => "", :rows => "7"}
            %p.help-block.text-danger
          .text-center
            %button.btn.btn-block.btn-round.btn-d{:type => "submit"} Submit
        / Ajax response
        #contact-response.ajax-response.font-alt
    / .row
/ Contact end