%section.module.bg-dark-60{"data-background" => image_path("section-1.jpg")}
  .container
    .row
      .col-sm-6.col-sm-offset-3
        %h2.module-title.font-alt Scoreboard
    .row.multi-columns-row
      - %W[vineyard winery article review comment user position photo gallery].each do |countable|
        .col-sm-6.col-md-3.col-lg-3
          .count-item.mb-sm-40
            .count-icon
              %span.icon-wallet
            %h3.count-to.font-alt{"data-countto" => countable.classify.constantize.count }
            %h5.count-title.font-serif #{countable.pluralize} listed
