/ Features start
%section#features.module
  .container
    .row
      .col-sm-6.col-sm-offset-3
        %h2.module-title.font-alt Our Services
        .module-subtitle.font-serif
          A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
    / .row
    .row.multi-columns-row
      / Features start
      .col-sm-6.col-md-3.col-lg-3
        .features-item
          .features-icon
            %span.icon-lightbulb
          %h3.features-title.font-alt Ideas and concepts
          Careful attention to detail and clean, well structured code ensures a smooth user experience for all your visitors.
      / Features end
      / Features start
      .col-sm-6.col-md-3.col-lg-3
        .features-item
          .features-icon
            %span.icon-bike
          %h3.features-title.font-alt Optimised for speed
          Careful attention to detail and clean, well structured code ensures a smooth user experience for all your visitors.
      / Features end
      / Features start
      .col-sm-6.col-md-3.col-lg-3
        .features-item
          .features-icon
            %span.icon-tools
          %h3.features-title.font-alt Designs &amp; interfaces
          Careful attention to detail and clean, well structured code ensures a smooth user experience for all your visitors.
      / Features end
      / Features start
      .col-sm-6.col-md-3.col-lg-3
        .features-item
          .features-icon
            %span.icon-gears
          %h3.features-title.font-alt Highly customizable
          Careful attention to detail and clean, well structured code ensures a smooth user experience for all your visitors.
      / Features end
      / Features start
      .col-sm-6.col-md-3.col-lg-3
        .features-item
          .features-icon
            %span.icon-tools-2
          %h3.features-title.font-alt Coding &amp; development
          Careful attention to detail and clean, well structured code ensures a smooth user experience for all your visitors.
      / Features end
      / Features start
      .col-sm-6.col-md-3.col-lg-3
        .features-item
          .features-icon
            %span.icon-genius
          %h3.features-title.font-alt Features &amp; plugins
          Careful attention to detail and clean, well structured code ensures a smooth user experience for all your visitors.
      / Features end
      / Features start
      .col-sm-6.col-md-3.col-lg-3
        .features-item
          .features-icon
            %span.icon-mobile
          %h3.features-title.font-alt Responsive design
          Careful attention to detail and clean, well structured code ensures a smooth user experience for all your visitors.
      / Features end
      / Features start
      .col-sm-6.col-md-3.col-lg-3
        .features-item
          .features-icon
            %span.icon-lifesaver
          %h3.features-title.font-alt Dedicated support
          Careful attention to detail and clean, well structured code ensures a smooth user experience for all your visitors.
      / Features end
    / .row
  / .container
/ Features end