%section#features.module
  .container
    .row
      .col-sm-6.col-sm-offset-3
        / %span= fa_icon "heart"
        / %span= fa_icon "heart-o"
        / %span= fa_icon "gavel"
        / %span= fa_icon "eyedropper"
        / %span= fa_icon "fire"
        / %span= fa_icon "globe"
        / %span= fa_icon "leaf"
        / %span= fa_icon "tint"
        / %span= fa_icon "tint"
        / %span= fa_icon "photo"
        / %span= fa_icon "money"
        / %span= fa_icon "graduation-cap"
        / %span= fa_icon "cutlery"
        / %span= fa_icon "glass"

        %h2.module-title.font-alt Features
        .module-subtitle.font-serif
          :markdown
            Bacchan.al is the best thing that has ever happened to you. Observe:
    .row.multi-columns-row
      - features_list.each do |feature|
        .col-sm-6.col-md-3.col-lg-3
          .features-item
            .features-icon
              %span
                = fa_icon feature[:icon]
            %h3.features-title.font-alt
              = feature[:name].pluralize
  
            = feature[:description]
