/ Footer start
%footer.footer.bg-dark
  .container
    .row
      .col-sm-6
        %p.copyright.font-alt
          © 2015
          = succeed "," do
            %a{:href => "index.html"} Rival
      .col-sm-6
        .footer-social-links
          %a{:href => "#"}
            %i.fa.fa-facebook
          %a{:href => "#"}
            %i.fa.fa-twitter
          %a{:href => "#"}
            %i.fa.fa-dribbble
          %a{:href => "#"}
            %i.fa.fa-skype
    / .row
/ Footer end