/ Home start
%section#home.home-section.home-parallax.home-fade.home-full-height.bg-dark-30{"data-background" => image_path("abstract-4.jpg")}
  .hs-caption
    .caption-content
      .hs-title-size-1.font-alt.mb-30
        Join the
      .hs-title-size-4.font-alt.mb-40
        Bacchan.al
      %a.btn.btn-border-w.btn-round{:href => "#"} Learn More
/ Home end