/ Latest blog posts start
%section#news.module
  .container
    .row
      .col-sm-6.col-sm-offset-3
        %h2.module-title.font-alt Latest blog posts
        .module-subtitle.font-serif
          A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
    / .row
    .row.multi-columns-row.post-columns
      / Post item start
      .col-sm-6.col-md-4.col-lg-4
        .post.mb-20
          .post-thumbnail
            %a{:href => "blog-single-left.html"}
              = image_tag "post-1.jpg"
          .post-header.font-alt
            %h2.post-title
              %a{:href => "blog-single-left.html"} Our trip to the Alps
            .post-meta
              By
              %a{:href => "#"} Mark Stone
              | 23 November | 3 Comments
          .post-entry
            %p A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
          .post-more
            %a.more-link{:href => "blog-single-right.html"} Read more
      / Post item end
      / Post item start
      .col-sm-6.col-md-4.col-lg-4
        .post.mb-20
          .post-thumbnail
            %a{:href => "blog-single-left.html"}
              = image_tag "post-2.jpg"
          .post-header.font-alt
            %h2.post-title
              %a{:href => "blog-single-left.html"} Shore after the tide
            .post-meta
              By
              %a{:href => "#"} Andy River
              | 11 November | 4 Comments
          .post-entry
            %p A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
          .post-more
            %a.more-link{:href => "blog-single-right.html"} Read more
      / Post item end
      / Post item start
      .col-sm-6.col-md-4.col-lg-4
        .post.mb-20
          .post-thumbnail
            %a{:href => "blog-single-left.html"}
              = image_tag "post-3.jpg"
          .post-header.font-alt
            %h2.post-title
              %a{:href => "blog-single-left.html"} We in New Zealand
            .post-meta
              By
              %a{:href => "#"} Dylan Woods
              | 5 November | 15 Comments
          .post-entry
            %p A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
          .post-more
            %a.more-link{:href => "blog-single-right.html"} Read more
      / Post item end
    / .row
/ Latest blog posts end