:markdown
  So many of the stories we tell about wine are bullshit: A sommelier describing a wine as "jammy" or "fruit-forward?" What does that even mean? 

  Oh your wine is "hand crafted," you say? 

  Well fuck your hand crafting, Jim. How about spend less time booger-fingering my wine and more sterilizing tanks?  

  But in wine, there is this one unavoidable truth: If you start with good fruit, you're likely to get good wine. Bacchan.al is about this truth. It's about helping you tell an authentic story - about your wine, your farm, your process - that separates you from the commodity producers, the industrial farmers, the dilettantes, the the jimmy-jam hucksters. It's about differentiating, building your brand, and thus making a better living for you and the people who rely on you. 

  Capitalism. Truth. Good for me, good for you.