:markdown
  So many of the stories we tell about wine are hack: A sommelier describing a wine as "jammy" or "fruit-forward."

  What does that even mean?

  I didn't know fruit could be backward.

  Oh your wine is "hand crafted" you say?

  That's nice. But really? The less time your hands spend booger-finger-crafting my wine and the more time they spend running hoses to sterilize tanks, the happier I'm prone to be.

  In wine there are bromides, and one truth: If you start with good fruit, you're likely to get good wine. Bacchan.al is about this truth. It's about helping you as a winemaker or farmer to tell your authentic story - A story about your wine, your farm, your process, your people - that separates you from the commodity producers, the industrial farmers, the dilettantes, and the jimmy-jam hucksters. It's about differentiating, building your brand, and giving wine lovers an authentic reason to pay more, and to buy directly from you.

