= meta_tags(
  title: full_title(yield(:title)), 
  viewport: "width=device-width, initial-scale=1.0",
  type: "website",
  author: "Fred Schoeneman", 
  description: "Internet Wine, Winery, Winemaker & Vineyard database", 
  keywords: "wine winery vineyard winemaker vintage terroir"),


