/ Pricing start
%section#pricing.module
  .container
    .row
      .col-sm-6.col-sm-offset-3
        %h2.module-title.font-alt Pricing
        .module-subtitle.font-serif
          A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
    / .row
    .row.multi-columns-row
      / Price table start
      .col-sm-6.col-md-3.col-lg-3
        .price-table.font-alt
          %h4 Light
          .borderline
          %p.price
            %span> $
            9
          %ul.price-details
            %li Free Support
            %li 15 Demos Included
            %li
              %span Newsletter
            %li
              %span Working Contact Form
            %li
              %span Unlimited Domains
          %a.btn.btn-d.btn-round{:href => "#"} Sign Up
      / Price table end
      / Price table start
      .col-sm-6.col-md-3.col-lg-3
        .price-table.font-alt
          %h4 Basic
          .borderline
          %p.price
            %span> $
            29
          %ul.price-details
            %li Free Support
            %li 15 Demos Included
            %li Newsletter
            %li
              %span Working Contact Form
            %li
              %span Unlimited Domains
          %a.btn.btn-d.btn-round{:href => "#"} Sign Up
      / Price table end
      / Price table start
      .col-sm-6.col-md-3.col-lg-3
        .price-table.best.font-alt
          %h4 Advanced
          %p.small Best Choice
          .borderline
          %p.price
            %span> $
            64
          %ul.price-details
            %li Free Support
            %li 20 Demos Included
            %li Newsletter
            %li Working Contact Form
            %li
              %span Unlimited Domains
          %a.btn.btn-d.btn-round{:href => "#"} Sign Up
      / Price table end
      / Price table start
      .col-sm-6.col-md-3.col-lg-3
        .price-table.font-alt
          %h4 Ultimate
          .borderline
          %p.price
            %span> $
            119
          %ul.price-details
            %li Free Support
            %li 15 Demos Included
            %li Newsletter
            %li Working Contact Form
            %li Unlimited Domains
          %a.btn.btn-d.btn-round{:href => "#"} Sign Up
      / Price table end
    / .row
    .row.mt-40
      .col-sm-6.col-sm-offset-3.align-center
        %p Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators. To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words.
    / .row
/ Pricing end