/ Pricing start
%section#pricing.module
  .container
    .row
      .col-sm-6.col-sm-offset-3
        %h2.module-title.font-alt Pricing
        .module-subtitle.font-serif
          :markdown 
            We have a free version. It will always be free, and provide outstanding value. But if you choose a paid plan, you are encouraging cool new features and helping avoid tacky advertising. 
          
          
    / .row
    .row.multi-columns-row
      / Price table start
      - pricing_plans.each_with_index do |k,i|
        .col-sm-6.col-md-3.col-lg-3
          .price-table.font-alt{ class: k[1]["highlighted"] ? "best" : "" }
            %h4

              = k[0]
            - if k[1]["highlighted"] == true 
              %p.small Best Choice

            .borderline
            %p.price
              %span> $
              = k[1]["price"]
            %ul.price-details
              - k[1]["features"].each do |feature|
                %li{"data-toggle" => "tooltip", :href => "#", :title => feature[1]["description"]}
                  - if feature[1]["plan"].nil? || feature[1]["plan"] <= i
                    
                    = feature[0].singularize
                    .tooltip{:role => "tooltip"}
                      .tooltip-inner
                      .tooltip-arrow
                        Some tooltip text!
                  - else 
                    %span
                      = feature[0].singularize
            %a.btn.btn-d.btn-round{:href => "#"} Sign Up

    .row.mt-40
      .col-sm-6.col-sm-offset-3.align-center
    / .row
/ Pricing end