/ Video start
%section.module.bg-dark-60{"data-background" => image_path("section-6.jpg")}
  .container
    .row
      .col-sm-12
        .video-box
          .video-box-icon
            %a.video-pop-up{:href => "http://vimeo.com/15486292"}
              %span.icon-video
          .video-title.font-alt
            Presentation
          .video-subtitle.font-alt
            Watch the video about our new products
    / .row
/ Video end