/ Widgets start
.module-small.bg-dark
  .container
    .row
      .col-sm-3
        / Widget start
        .widget
          %h5.widget-title.font-alt About Rival
          %p The languages only differ in their grammar, their pronunciation and their most common words.
          %p
            Phone: +1 234 567 89 10
            %br>/
            Fax: +1 234 567 89 10
          %p
            Email:
            %a{:href => "#"} somecompany@example.com
        / Widget end
      .col-sm-3
        / Widget start
        .widget
          %h5.widget-title.font-alt Recent Comments
          %ul.icon-list
            %li
              Maria on
              %a{:href => "#"} Designer Desk Essentials
            %li
              John on
              %a{:href => "#"} Realistic Business Card Mockup
            %li
              Andy on
              %a{:href => "#"} Eco bag Mockup
            %li
              Jack on
              %a{:href => "#"} Bottle Mockup
            %li
              Mark on
              %a{:href => "#"} Our trip to the Alps
        / Widget end
      .col-sm-3
        / Widget start
        .widget
          %h5.widget-title.font-alt Categories
          %ul.icon-list
            %li
              %a{:href => "#"} Photography - 7
            %li
              %a{:href => "#"} Web Design - 3
            %li
              %a{:href => "#"} Illustration - 12
            %li
              %a{:href => "#"} Marketing - 1
            %li
              %a{:href => "#"} WordPress - 16
        / Widget end
      .col-sm-3
        / Widget start
        .widget
          %h5.widget-title.font-alt Popular posts
          %ul.widget-posts
            %li.clearfix
              .widget-posts-image
                %a{:href => "#"}
                  = image_tag "rp-1.jpg"
              .widget-posts-body
                .widget-posts-title
                  %a{:href => "#"} Designer Desk Essentials
                .widget-posts-meta
                  23 November
            %li.clearfix
              .widget-posts-image
                %a{:href => "#"}
                  = image_tag "rp-2.jpg"
              .widget-posts-body
                .widget-posts-title
                  %a{:href => "#"} Realistic Business Card Mockup
                .widget-posts-meta
                  15 November
        / Widget end
    / .row
/ Widgets end