%section.module.bg-dark-60.pt-0.pb-0{"data-background" => image_url(@company.try(:default_gallery).try(:photos).try(:first).try(:image).try(:url) ) }
  .testimonials-slider.pt-140.pb-140
    %ul.slides
      - wine_quotes.each do |quote|
        %li
          .container
            .row
              .col-sm-12
                .module-icon
                  %span.icon-quote
            .row
              .col-sm-8.col-sm-offset-2
                %blockquote.testimonial-text.font-alt
                  = quote["quote"]
            .row
              .col-sm-4.col-sm-offset-4
                .testimonial-author
                  .testimonial-caption.font-alt
                    .testimonial-title= quote["author"]
                    .testimonial-descr= quote["note"]
