.container
  %h1 New photo

  = form_for(@photo, html: { multipart: true, class: "dropzone"}) do |f|
    .fallback
      = f.file_field :photo
      %br/
      = f.submit "Upload"

  / = render 'form'

  / = link_to 'Back', photos_path
