%section#home.home-section.home-parallax.home-fade
  .hero-slider
    %ul.slides

      - @winery.default_gallery.try(:slides).try(:each) do |slide|
        %li.bg-dark-30.bg-dark{ style: "background-image: url(#{image_path(slide.photo.image.url)})" } 
          .hs-caption
            .caption-content
              .hs-title-size-4.font-alt.mb-40
                = @winery.name
              .hs-title-size-2.font-alt.mb-30
                = link_to "Our wines", "#wines", class: "section-scroll btn btn-border-w"
  

