%section#home.home-section.home-parallax.home-fade.home-full-height
  .hero-slider
    %ul.slides
      %li.bg-dark-30.bg-dark{ style: "background-image: url(#{image_path("abstract-4.jpg")})"}
        .hs-caption
          .caption-content

            .hs-title-size-1.font-alt.mb-30
              %span.rotate wineries | vineyards | lovers
            .hs-title-size-4.font-alt.mb-40
              Bacchan.al

            %a.section-scroll.btn.btn-border-w{:href => "#about"} Manifesto
      %li.bg-dark-30.bg-dark{ style: "background-image: url(#{image_path("abstract-3.jpg")})"}
        .hs-caption
          .caption-content
            .hs-title-size-2.font-alt.mb-30
              Bacchan.al
              %br/
              Change the way you see your food
            %a.section-scroll.btn.btn-mod.btn-border-w{:href => "#about"} Learn More
      %li.bg-dark-30.bg-dark{ style: "background-image: url(#{image_path("abstract-2.jpg")})"}
        .hs-caption
          .caption-content
            .hs-title-size-1.font-alt.mb-30
              Change your frame
            .hs-title-size-3.font-alt.mb-40
              Forget the hype
            %a.section-scroll.btn.btn-mod.btn-border-w{:href => "#about"} Manifesto