%h1 Listing wineries

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @wineries.each do |winery|
      %tr
        %td= link_to winery.name, winery
        %td= link_to 'Edit', edit_winery_path(winery)
        %td= link_to 'Destroy', winery, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Winery', new_winery_path
