- content_for :navlinks do 
  = render 'application/header/authentication_links'
- content_for :banner do 
  = render 'static/home_banner'

- present @winery do |winery_presenter| 

  = render "carousel"
  .main
    = render "wines"