- content_for :carousel do 
  = render "carousel"

/ - content_for :navlinks do 
/   = render 'application/header/authentication_links'
/ - content_for :banner do 
/   = render 'static/home_banner'

- present @winery do |winery_presenter| 

  .main
    = render "wines"
    = render "positions"
