path {
  stroke: #fff;
}

.auth-button {
  @extend .btn;
}
 

.ui-datepicker {

  background-color: #fff;

}
.branding-section {
    position: relative;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    z-index: 0;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.col-centered{
    float: none;
    margin: 0 auto;
}


/*#wizards {
    opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
/*#hover {
    width:80px;
    height:20px;
    background-color:green;
    margin-bottom:15px;
}*/
/*span #manifesto:hover + #wizards {
    opacity: 1.0;
}

span #manifesto:hover + #muggles {
    opacity: 0;

}*/
/**/
#manifesto {
  min-height: 1000px;
}
/*
#wizards, #muggles {
  position: absolute;
}*/

