/*#wizards {
    opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
/*#hover {
    width:80px;
    height:20px;
    background-color:green;
    margin-bottom:15px;
}*/
/*span #manifesto:hover + #wizards {
    opacity: 1.0;
}

span #manifesto:hover + #muggles {
    opacity: 0;

}*/
/**/
#manifesto {
  min-height: 1000px;
}
/*
#wizards, #muggles {
  position: absolute;
}*/

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }