/*@import url(http://fonts.googleapis.com/css?family=Lato);
@font-face {
    font-family: GameOfThrones;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/29725/got.ttf);
}


.bar {
  &:hover{
    opacity:.8;
    cursor: pointer;
    cursor: hand;
  }
}*/