%nav.navbar.navbar-custom.navbar-transparent.navbar-fixed-top{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => "#custom-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .navbar-brand
        = @org ? @org.name : link_to("Bacchan.al", root_url)
    #custom-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        = yield :navlinks
        = render 'application/header/authentication_links'
