%nav.navbar.navbar-custom.navbar-transparent.navbar-fixed-top{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => "#custom-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Bacchan.al", root_path, class: "navbar-brand"
    #custom-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        = render 'application/header/navigation_links' unless current_user
        = render 'application/header/authentication_links'
