%nav.navbar.navbar-custom.navbar-transparent.navbar-fixed-top.one-page{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => "#custom-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Bacchan.al", root_path, class: "navbar-brand"
    #custom-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        = render 'application/header/navigation_links' unless current_user
        = render 'application/header/authentication_links'
%section#home.home-section.home-parallax.home-fade.home-full-height.bg-dark-60{"data-background" => image_url(@company.default_gallery.photos[1].image.url)}
  .hs-caption
    .caption-content
      .col-sm-8.col-sm-offset-2
        .hs-title-size-1.font-alt.mb-30
          Bacchan.al is for the 
        .hs-title-size-4.font-alt.mb-40
          %span 
            .rotate wineries | vineyards | lovers | farmers | cooks | artists
      .col-sm-4.col-sm-offset-4
        %a.section-scroll.btn.btn-border-w.btn-block.btn-round{:href => "#about"}  
          %h5 the manifesto for the reading