.row.mb-20
  .col-sm-4.mb-sm-20
    %input.form-control.input-lg{:max => "50", :min => "1", :name => "", :required => "required", :type => "number", :value => "1"}/
  .col-sm-8
    %a.btn.btn-lg.btn-block.btn-round.btn-b Add to wishlist

- if current_user
  .comment-form
    / %h4.comment-form-title.font-alt= comment_call_to_action(@comment)
    = simple_form_for @wish, remote: true do |f|


      = f.input :quantity, label: false, as: :text, input_html: { rows: 7 }, class: "form-control"
      .form-actions
        = f.button :submit, class: "btn btn-round btn-d"