.row.mb-20
  .col-sm-12
    / %span
    /   %i.fa.fa-star.star
    / %span
    /   %i.fa.fa-star.star
    / %span
    /   %i.fa.fa-star.star
    / %span
    /   %i.fa.fa-star.star
    / %span
    /   %i.fa.fa-star.star-off
    / / Open tab and scroll to tab
    %a.open-tab.section-scroll{:href => "#reviews"}
      = @wine.curated_reviews.count.to_s + " reviews"
.row.mb-20
  .col-sm-12
    .price.font-alt
      %h1.amount= "$" + @wine.price