/
  BENEFITS
  \=================================
%section#benefits.benefits-section.section-gray.section
  .container
    %h2.section-heading.text-center The Benefits
    .benefits-row.row
      / BENEFIT 1
      .col-md-4.col-sm-6
        .benefit
          %span.benefit-icon.fa.fa-bicycle{"data-animation" => "bounceIn"}
          %h4.benefit-title Built with Bootstrap 3.3
          %p.benefit-description Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Vivamus eu sollicitudin lacus, nec ultricies lorem.
      / BENEFIT 2
      .col-md-4.col-sm-6
        .benefit
          %span.benefit-icon.fa.fa-code{"data-animation" => "bounceIn"}
          %h4.benefit-title Quick &amp; Easy Setup
          %p.benefit-description Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Vivamus eu sollicitudin lacus, nec ultricies lorem.
      .hidden-md.hidden-lg.clear
      / BENEFIT 3
      .col-md-4.col-sm-6
        .benefit
          %span.benefit-icon.fa.fa-eye{"data-animation" => "bounceIn"}
          %h4.benefit-title Responsive &amp; Retina Ready
          %p.benefit-description Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Vivamus eu sollicitudin lacus, nec ultricies lorem.
      .hidden-sm.clear
      / BENEFIT 4
      .col-md-4.col-sm-6
        .benefit
          %span.benefit-icon.fa.fa-smile-o{"data-animation" => "bounceIn"}
          %h4.benefit-title Clean Codes &amp; Documentation
          %p.benefit-description Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Vivamus eu sollicitudin lacus, nec ultricies lorem.
      .hidden-md.hidden-lg.clear
      / BENEFIT 5
      .col-md-4.col-sm-6
        .benefit
          %span.benefit-icon.fa.fa-pagelines{"data-animation" => "bounceIn"}
          %h4.benefit-title Optimized for Performance
          %p.benefit-description Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Vivamus eu sollicitudin lacus, nec ultricies lorem.
      / BENEFIT 6
      .col-md-4.col-sm-6
        .benefit
          %span.benefit-icon.fa.fa-paperclip{"data-animation" => "bounceIn"}
          %h4.benefit-title Fit for Any Purposes
          %p.benefit-description Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Vivamus eu sollicitudin lacus, nec ultricies lorem.