

/
  CLOSING
  \=================================
%section#closing.closing-section.section-dark.section
  .section-background
    / IMAGE BACKGROUND
    .section-background-image.parallax-background{"data-stellar-background-ratio" => "0.4"}
  .container
    %h3.closing-shout Ready to start? Take the first step by clicking the button below
    .closing-buttons{"data-animation" => "tada"}
      %a.anchor-link.btn.btn-lg.btn-primary{:href => "#hero"} Footer Action Button