/
  DESCRIPTION
  \=================================
%section#about.about-section.section
  .container
    %h2.section-heading.text-center About Drew
    .about-row.row
      / DESCRIPTION IMAGE
      .about-image.col-md-6{"data-animation" => "fadeIn"}
        = image_tag "contents/about.jpg"
      / DESCRIPTION TEXT
      .about-text.col-md-6
        %p.lead Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Vivamus eu sollicitudin lacus, nec ultricies lorem.
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat arcu ut orci porta, eget porttitor felis suscipit. Sed a nisl ullamcorper, tempus augue at, rutrum lacus. Duis et turpis eros. Duis ex metus, facilisis nec porta non, accumsan vel turpis. Proin euismod, sem a mollis vestibulum, ligula elit faucibus erat, in dignissim sapien leo eget quam.
        %ul.icon-list
          %li
            %span.icon-list-icon.fa.fa-hand-o-up{"data-animation" => "bounceIn"}
            %h4.icon-list-title Click Through
            %p Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
          %li
            %span.icon-list-icon.fa.fa-heart-o{"data-animation" => "bounceIn"}
            %h4.icon-list-title Lead Generation
            %p Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
          %li
            %span.icon-list-icon.fa.fa-lightbulb-o{"data-animation" => "bounceIn"}
            %h4.icon-list-title Other Purposes
            %p Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.