/
  FOOTER
  \=================================
%section#footer.footer-section.section
  .container
    %h3.footer-logo
      .brand.light-brand Loyal.To
    .footer-socmed
      %a{:href => "#", :target => "_blank"}
        %span.fa.fa-facebook
      %a{:href => "#", :target => "_blank"}
        %span.fa.fa-twitter
      %a{:href => "#", :target => "_blank"}
        %span.fa.fa-instagram
      %a{:href => "#", :target => "_blank"}
        %span.fa.fa-pinterest
    .footer-copyright
      © 2015 Loyal.to


