
%header#header.header-section.section.section-dark.navbar.navbar-fixed-top
  .container-fluid
    .navbar-header.navbar-left
      / RESPONSIVE MENU BUTTON
      %button.navbar-toggle{"data-target" => "#navigation", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      / HEADER LOGO
      %a.navbar-logo.navbar-brand.anchor-link{:href => "#hero"}
        / = image_tag "logos/header-logo.png"
        .brand Loyal.To
    %nav#navigation.navigation.navbar-collapse.collapse.navbar-right
      / NAVIGATION LINKS
      %ul#header-nav.nav.navbar-nav
        %li= link_to "Top", '#hero', class: "hidden"
        %li= link_to "Find something", '#about'
        / = link_to "Benefits", '#benefits'
        / %li= link_to "How it Works", '#how-it-works'
        / = link_to "Watch Video", '#video'
        %li= link_to "The Team", '#team'
        / %li= link_to "Pricing", '#pricing'
        %li.header-action-button
          %a.btn.btn-primary{:href => "#"} Join the Team