%section#headline.headline-section.section-gray.section
  .container
    %h2.section-heading.text-center Stop selling for free
    .row
      .col-md-10.col-md-offset-1
        %p.headline-text
          When sales people do the work of selling but Internet middlemen take the profit, brands get hurt.
          %strong Loyal.To
          keeps the interests of manufacturers and wholesalers aligned with the experienced and trustworthy sales people who move their products. 