/
  HOW IT WORKS
  \=================================
%section#how-it-works.how-it-works-section.section
  .container-fluid
    %h2.section-heading.text-center How it Works
    .hiw-row.row
      / HOW IT WORKS - ITEM 1
      .col-md-3.col-sm-6{"data-animation" => "fadeIn"}
        .hiw-item
          = image_tag "contents/hiw-item-1.jpg", class: "hiw-item-picture"
          .hiw-item-text
            %span.hiw-item-icon 1
            %h4.hiw-item-title Choose a Layout
            %p.hiw-item-description Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Vivamus eu sollicitudin lacus, nec ultricies lorem.
      / HOW IT WORKS - ITEM 2
      .col-md-3.col-sm-6{"data-animation" => "fadeIn"}
        .hiw-item.even
          = image_tag "contents/hiw-item-2.jpg", class: "hiw-item-picture"
          / %img.hiw-item-picture{:alt => "", :src => "images/contents/hiw-item-2.jpg"}/
          .hiw-item-text
            %span.hiw-item-icon 2
            %h4.hiw-item-title Edit &amp; Customize
            %p.hiw-item-description Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Vivamus eu sollicitudin lacus, nec ultricies lorem.
      .hidden-md.hidden-lg.clear
      / HOW IT WORKS - ITEM 3
      .col-md-3.col-sm-6{"data-animation" => "fadeIn"}
        .hiw-item
          = image_tag "contents/hiw-item-3.jpg", class: "hiw-item-picture"
          .hiw-item-text
            %span.hiw-item-icon 3
            %h4.hiw-item-title Upload to Hosting
            %p.hiw-item-description Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Vivamus eu sollicitudin lacus, nec ultricies lorem.
      / HOW IT WORKS - ITEM 4
      .col-md-3.col-sm-6{"data-animation" => "fadeIn"}
        .hiw-item.even
          = image_tag "contents/hiw-item-4.jpg", class: "hiw-item-picture"
          .hiw-item-text
            %span.hiw-item-icon 4
            %h4.hiw-item-title Finished!
            %p.hiw-item-description Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Vivamus eu sollicitudin lacus, nec ultricies lorem.