/
  NUMBERS
  \=================================
%section#numbers.numbers-section.section-dark.section
  .section-background
    / IMAGE BACKGROUND
    .section-background-image.parallax-background{"data-stellar-background-ratio" => "0.4"}
  .container
    %h2.section-heading.text-center Drew in Numbers
    .numbers-row.row
      / NUMBERS - ITEM 1
      .col-md-3.col-sm-6
        .numbers-item
          .numbers-item-counter
            %span.counter-up 1,269
          .numbers-item-caption Tickets solved
      / NUMBERS - ITEM 2
      .col-md-3.col-sm-6
        .numbers-item
          .numbers-item-counter
            %span.counter-up> 99.8
            \%
          .numbers-item-caption User Ratings
      / NUMBERS - ITEM 3
      .col-md-3.col-sm-6
        .numbers-item
          .numbers-item-counter
            %span.counter-up> 754
            k
          .numbers-item-caption Total Users
      / NUMBERS - ITEM 4
      .col-md-3.col-sm-6
        .numbers-item
          .numbers-item-counter
            %span.counter-up 358
            %span.fa.fa-coffee
          .numbers-item-caption Coffee Served