/
  TEAM
  \=================================
%section#team.team-section.section
  .container-fluid
    %h2.section-heading.text-center The Team Behind your Team
    .team-row.row
      .col-lg-3.col-lg-offset-2.col-md-4.col-sm-6{"data-animation" => "fadeIn"}
        .team-member
          = image_tag "contents/lenny-turetsky.jpg",  size: "300x300", class: "team-member-picture"
          .team-member-text
            %h4.team-member-name Lenny Turetsky
            .team-member-position CEO &amp; Founder
            %p.team-member-description Lenny Turetsky has spent 15 years in tech both as a senior developer at companies like SalesForce and Pivotal Labs and also as an entrepreneur. He has taught English in Korea and earned a CS degree from Yale University. He lives in San Francisco with his son Ezra and dog, Luigi.
      .col-lg-3.col-lg-offset-2.col-md-4.col-sm-6{"data-animation" => "fadeIn"}
        .team-member
          = image_tag "contents/fred-schoeneman.jpg", size: "300x300", class: "team-member-picture"
          .team-member-text
            %h4.team-member-name Fred Schoeneman
            .team-member-position CTO &amp; Co-Founder
            %p.team-member-description Fred Schoeneman is a former developer at GoPro and now consults with startups. He is a former Army infantryman, commercial diver, and a dropout from Stanford University. He splits his time between Oakland, Mendocino County, and Lake Tahoe, where he skis as much as he can.
      .hidden-md.hidden-lg.clear
      / / TEAM MEMBER 3
      / .col-lg-2.col-md-4.col-sm-6{"data-animation" => "fadeIn"}
      /   .team-member
      /     = image_tag "contents/team-member-3.jpg", class: "team-member-picture"
      /     .team-member-text
      /       %h4.team-member-name Kathy Nelson
      /       .team-member-position Graphic Designer
      /       %p.team-member-description Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
      / .hidden-sm.hidden-lg.clear
      / / TEAM MEMBER 4
      / .col-lg-2.col-md-4.col-sm-6{"data-animation" => "fadeIn"}
      /   .team-member.even
      /     = image_tag "contents/team-member-4.jpg", class: "team-member-picture"
      /     .team-member-text
      /       %h4.team-member-name Dylan Fowler
      /       .team-member-position UI/UX Designer
      /       %p.team-member-description Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
      / .hidden-md.hidden-lg.clear
      / / TEAM MEMBER 5
      / .col-lg-2.col-md-4.col-sm-6{"data-animation" => "fadeIn"}
      /   .team-member
      /     = image_tag "contents/team-member-5.jpg", class: "team-member-picture"
      /     .team-member-text
      /       %h4.team-member-name Carolyn Harvey
      /       .team-member-position Development
      /       %p.team-member-description Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
      / / TEAM MEMBER 6
      / .col-lg-2.col-md-4.col-sm-6{"data-animation" => "fadeIn"}
      /   .team-member.even
      /     = image_tag "contents/team-member-6.jpg", class: "team-member-picture"
      /     .team-member-text
      /       %h4.team-member-name Diane Grant
      /       .team-member-position Marketing &amp; Strategy
      /       %p.team-member-description Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.