/
  TESTIMONIALS
  \=================================
%section#testimonial.testimonial-section.section-gray.section
  .section-background
    / IMAGE BACKGROUND
    .section-background-image.parallax-background{"data-stellar-background-ratio" => "0.4"}
  .container
    %h2.section-heading.text-center Trusted by Thousands
    .sponsors-row{"data-animation" => "bounceIn"}
      = image_tag "contents/sponsor-1.png"
      = image_tag "contents/sponsor-2.png"
      = image_tag "contents/sponsor-3.png"
      = image_tag "contents/sponsor-4.png"
    .testimonial-row.row
      / TESTIMONIAL ITEM 1
      .col-sm-6
        .testimonial
          %blockquote.testimonial-quote
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lectus dui, volutpat sed velit congue, pulvinar tristique nisi. Maecenas mollis rutrum bibendum. Etiam mollis diam risus, at varius ex dapibus sed. In in leo at sapien placerat sagittis.
          %span.testimonial-ratings
            %span.fa.fa-star
            %span.fa.fa-star
            %span.fa.fa-star
            %span.fa.fa-star
            %span.fa.fa-star
          %cite.testimonial-cite John Doe, Company Inc.
      / TESTIMONIAL ITEM 2
      .col-sm-6
        .testimonial
          %blockquote.testimonial-quote
            %p Nulla lectus dui, volutpat sed velit congue, pulvinar tristique nisi. Maecenas mollis rutrum bibendum. Etiam mollis diam risus, at varius ex dapibus sed. In in leo at sapien placerat sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          %span.testimonial-ratings
            %span.fa.fa-star
            %span.fa.fa-star
            %span.fa.fa-star
            %span.fa.fa-star
            %span.fa.fa-star-half-o
          %cite.testimonial-cite Dohn Joe, Internet Marketer