/
  TWO COLS DESCRIPTION SECTION
  \=================================
%section#two-cols-description.two-cols-description-section.section-accent.section
  .container-fluid
    .two-cols-description-row.row
      / TWO COLS DESCRIPTION IMAGE
      .two-cols-description-image.col-md-6.col-md-push-6{"data-animation" => "fadeInRight"}
      / TWO COLS DESCRIPTION TEXT
      .two-cols-description-text.col-md-6.col-md-pull-6{"data-animation" => "fadeInLeft"}
        .two-cols-description-text-inner
          %h2.section-heading.text-left Two Columns Section
          %p You can put image / video embed in the column to the right. If you like, you can also swap the columns, which means this text column will be on the right hand side, while the image column is on the left. While on this column, you may want to put some description paragraphs or a nice list like below:
          %ul.nice-list
            %li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            %li Sed feugiat arcu ut orci porta, eget porttitor felis suscipit.
            %li Sed a nisl ullamcorper, tempus augue at, rutrum lacus. Duis et turpis eros.