/
  VIDEO SECTION
  \=================================
%section#video.video-section.section-gray.section
  .container
    %h2.section-heading.text-center Watch the Video
    .row
      .col-md-10.col-md-offset-1
        .video-embed
          / VIDEO EMBED FROM VIMEO
          %iframe.video-async{:allowfullscreen => "", "data-color" => "f3ae73", "data-source" => "vimeo", "data-video" => "115134273"}
          / VIDEO EMBED FROM YOUTUBE
          / <iframe class="video-async" data-source="youtube" data-video="7UAy8E3e9f8" allowfullscreen></iframe>