- content_for :brand do
  = link_to @bloggable.name, root_path, class: "navbar-brand"
- content_for :main do 
  %section#home.home-section.home-parallax.home-fade.bg-dark-30
    = yield
= render template: "layouts/application"