- content_for :graphic do 
  = image_path("section-10.jpg")

- content_for :brand do 
  = link_to @org.name, polymorphic_url(@org), class: "navbar-brand"

- content_for :navlinks do 
  = render 'application/header/authentication_links'

/ # - content_for :top do

    
/ - content_for :main do 
/   %section#home.home-section.home-parallax.home-fade.bg-dark-30{"data-background" => image_path("abstract-4.jpg")}
/   / = yield
= render template: "layouts/application"